.reportwrapper{
    padding-top: 10vh;
    color: #064635;
    background-color: #064635;
    min-height: 100vh;
}

.qnsummary{
    margin: auto;
    width: 25vw !important;
}

.qnansdisplay{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.qnreport{
    width:20vw;
    padding: 20px;
    margin-bottom: 5vh;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}